#header {
    background-color: yellow;
    padding: 5px;
    position: relative;
    /* height:120px;  
    /*  vertical-align: middle;*/
 
    }
  
    #header img {
    width: 100px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;  
    
    }
  
    #header h1{
        text-transform: uppercase;
        font-family: 'Cinzel Decorative', cursive;
        font-size: 250%;
        letter-spacing: 10px;
        /*  font-family: Verdana, Geneva, Tahoma, sans-serif;*/
        text-shadow: 2px 2px 10px red;
        color:brown;
        text-align: center;  
        position: absolute;
            left: 450px;
            top: 25px;
            
        }

        #navlinks{
            background-color: gold;
            height: 750px;
            width: 150px;
            padding: 5px;
            /* Distance between top of the first line to the top of 2nd line */
            line-height: 50px;
            float:left;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100px;
            background-color: #48C9B0;
            margin: auto;
            }
           
            li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
            }
           
            /* Change the link color on hover */
            li a:hover {
            background-color: #ff0000;
            color: white;
            }
        
            #main {
                width:750px;
                height:740px;
                float:left;
                padding:10px;
                text-align:justify;
                color:white;    
                background-image:url("back.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                }

                #fig 
                {
                text-align:center;
                display:flex;
                }

                .hello
                {
                    text-align: center;
                    border-radius: 25px;
                    border: 5px solid #73AD21;
                    padding: 5px;
                }

                span
                {
                    color: red;
                    font-weight: bold;
                }

                #aside
                {
                    float:right;
                    background-color: goldenrod;
                    width: 310px;
                    height: 760px;
                    text-align: center;
                }